<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href = "{{ url_for('static', filename='index.css') }}">
        <title> 
            Hello
        </title>    
    </head>
    <body >
        <h1>Header </h1>
        <nav>
            <ul>
                <li><a href="about">ABOUT</a></li>
                <li><a href="submit">SUBMIT</a></li>
                <li><a href="loginpost">LOGIN POST</a></li>
                <li><a href="loginget">LOGIN GET</a></li>
                <li><a href="view">VIEW</a></li>
            </ul>
        </nav>
    </body>
</html>